@{
    ViewBag.Title = "All Garages";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<p class="fw-bold">Choose Truck + Trailer from one of all garages</p>

<div>
    <table class="table table-bordered table-striped"
           id="table"
           data-click-to-select="true"
           data-toggle="table"
           data-search="true"
           data-pagination="true"
           data-url="@Url.Action("GetAll", "Garage", new { area = "User" })"
           data-page-size="5"
           data-page-list="[10, 25, 50, 100]">
        <thead>
            <tr>
                <th data-field="count" data-formatter="rowNumberFormatter">No.</th>
                <th data-field="country" data-sortable="true">Country</th>
                <th data-field="city" data-sortable="true">City</th>
                <th data-field="size" data-sortable="true">Size</th>
                <th data-field="buttons" class="table-hover" data-formatter="actionButtons">Actions</th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts {
    <script>
        function rowNumberFormatter(value, row, index) {
            return index + 1;
        }
    </script>

    <script>
        function actionButtons(row, value) {
            let garageTrucksTrailersUrl = "@Url.Action("GarageTrucksTrailers", "Garage", new { area = "User", id = '0' })";
            garageTrucksTrailersUrl = garageTrucksTrailersUrl.replace('0', value.id);

            return `<a href="${garageTrucksTrailersUrl}" style="background-color: #00ff7f; border-color: #8DC0EB; color: #2a2e72;" class='btn btn-primary edit-button'>Trucks + Trailers</a>`;
        }
    </script>
}