@{
    ViewBag.Title = "All Trailers";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div>
    <table class="table table-bordered table-striped"
           id="table"
           data-click-to-select="true"
           data-toggle="table"
           data-search="true"
           data-pagination="true"
           data-url="@Url.Action("GetAll", "Trailer", new { area = "User" })"
           data-page-size="5"
           data-page-list="[10, 25, 50, 100]">
        <thead>
            <tr>
                <th data-field="count" data-formatter="rowNumberFormatter">No.</th>
                <th data-field="title" data-sortable="true">Title</th>
                <th data-field="series" data-sortable="true">Series</th>
                <th data-field="trailerType" data-sortable="true">Trailer Type</th>
                <th data-field="bodyType" data-sortable="true">Body Type</th>
                <th data-field="tareWeight" data-sortable="true">Tare Weight (Kg)</th>
                <th data-field="axleCount" data-sortable="true">Axle Count</th>
                <th data-field="totalLength" data-sortable="true">Total Length (Meter)</th>
                <th data-field="cargoTypes" data-sortable="true">Cargo Types</th>
                <th data-field="buttons" class="table-hover" data-formatter="actionButtons">Actions</th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts {
    <script>
        function actionButtons(row, value) {
            let detailsUrl = "@Url.Action("GetAdditionalInfoById", "Trailer", new { area = "User", id = '0' })";
            detailsUrl = detailsUrl.replace('0', value.id);

            return `<a href="${detailsUrl}" style="background-color: #00ff7f; border-color: #8DC0EB; color: #2a2e72;" class="btn btn - primary edit - button">Details</a>`;
        }
    </script>

    <script>
        function rowNumberFormatter(value, row, index) {
            return index + 1;
        }
    </script>
}