<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Not Found</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-grid.min.css" />
    <link rel="stylesheet" href="~/css//site.css" asp-append-version="true" />
    <style>
        body {
            background-color: #f8f9fa;
        }
        .error-container {
            margin-top: 50px;
            text-align: center;
        }
        h1 {
            font-size: 3em;
        }
        p {
            font-size: 1.2em;
            color: #6c757d;
        }
    </style>
</head>
<body>
    <div class="container error-container">
        <h1 class="display-4">404 - Not Found</h1>
        <p class="lead">The page you are looking for might have been removed, had its name changed, or is temporarily unavailable.</p>
        <p>Go back to <a asp-area="Admin" asp-controller="Home" asp-action="Index">Home Page</a></p>
    </div>
</body>
</html>
