@{
    ViewData["Title"] = "Home Page";
}

@if (TempData["ExceptionMessage"] != null)
{
    <div id="alert" class="alert alert-danger" role="alert">@TempData["ExceptionMessage"]</div>
}

<div class="text-center">
    <h1 class="display-4">Welcome, Admin!</h1>
</div>

@section Scripts{
    <script>
        window.setTimeout(function () {
            $("#alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 5000);
    </script>
}
