@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    ViewBag.Url = string.Empty;
}

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        var user = await UserManager.FindByNameAsync(User.Identity?.Name);
        var roles = await UserManager.GetRolesAsync(user);

        if (roles.Contains(AdminRoleName))
        {
            <li>
                <script>
                    window.location.href = '@Url.Action("Index", "Home", new { area = AdminAreaName })';
                </script>
            </li>
        }
        else if (roles.Contains(UserRoleName))
        {
            <li>
                <script>
                    window.location.href = '@Url.Action("Index", "Home", new { area = UserAreaName })';
                </script>
            </li>
        }

    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Unauthorized" asp-controller="User" asp-action="Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Unauthorized" asp-controller="User" asp-action="Login">Login</a>
        </li>
    }
</ul>